{% extends "base.html" %}
{% block content %}
<div>
    <h1> {{tournament.name}} </h1>
    <p> Data: {{tournament.date}} </p>
    <p> Luogo: {{tournament.location}} </p>
    <p> Premio: {{tournament.prize}} </p>
    <p> Organizzatore: {{tournament.organizer}}</p>
    <p> Slot disponibili: [ {{free_slots}} / {{tournament.max_teams}} ]</p>
    {%if user.is_authenticated and tournament.organizer == user %}
        <a href="{% url 'tournament-delete' tournament.id %}">Elimina torneo</a>
    
    {% endif %}

    {% if user.is_authenticated and my_team %}

        {% if my_team in tournament.teams.all %}

            <form method="post" action="{% url 'tournament-signup' tournament.id %}">

                {% csrf_token %}

                <button type="submit">Disiscrivi team</button>

            </form>

        {% else %}

            <form method="post" action="{% url 'tournament-signup' tournament.id %}">

                {% csrf_token %}

                <button type="submit">Iscrivi team</button>

            </form>

        {% endif %}

    {% endif %}


    

    <h2>Team iscritti</h2>
    <ul>
        {% for team in tournament.teams.all %}
            <li> 
                <img src="{{team.icon.url}}" alt="{{team.name}} logo" width="50" height="50">
                {{team.name}}
            </li>

        {% empty %}
            <li>Nessuna squadra iscritta</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
