{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Bentornato {{ user.username }}!</h1>
        
        {% if team is not None %}
            <a href="/teams/list/">Visualizza Squadra</a>
        {% else %}
            <a href="/teams/create/">Crea Squadra</a>
        {% endif %}
        <a href="/profile/">View Profile</a>
        <a href="/tournaments/create/">Crea torneo</a>
    
    {% else %}
        <h1>Devi autenticarti!</h1>
    {% endif %}
{% endblock %}